/* 1 Column */
@media only screen and (max-width : 449px) {
	.dash-section
	{
		display:block;
		height:100%%;
		width:100%;
	}
	.dashboard-users
	{
		height:96%;
		overflow-y:scroll;
		overflow-x:hidden;
	}
	.menu-text
	{
		display:none;
		width:0px;
	}
	.menu-item > a,
	.menu-item > a:visited
	{
		padding:0px;
	}
	.user-panel
	{
		width:95px;
	}
	.user-info
	{
		display:none;
	}
	.user-panel > .user-logout a,
	.user-panel > .user-logout a:visited
	{
		padding:0px;
	}
	header .menu-item
	{
		width:11%;
	}
	footer .menu-item
	{

	}
}
/* 2 Columns */
@media only screen and (min-width : 450px) {
	.dash-section
	{
		width:50%;
		height:100%;
		overflow:hidden;
	}
	.dashboard-users
	{	
		height:96.5%;
		overflow-y:scroll;
		overflow-x:hidden;
	}
	.dashboard-user > li
	{
		padding:0px;
	}
	.menu-text
	{
		display:none;
		width:0px;
	}
	header .menu-item
	{
		width:11.11%;
		padding:auto;
	}
	header .menu-item > a
	{
		width:100%;
	}
	header .menu-item img
	{
		width:48px;
		margin:0px;
	}
	.menu-item > a,
	.menu-item > a:visited
	{
		padding:0px;
	}
	.icon
	{
		width:100%;
		height:48px;
		margin:auto;
	}
	.user-panel
	{
		width:250px;
	}
	.user-panel > .user-logout a,
	.user-panel > .user-logout a:visited
	{
		padding:0px;
	}
}
/* 3 Columns */
@media only screen and (min-width : 1024px) {
	.dash-section
	{
		width:25%;
		height:100%;
	}
	.dashboard-users
	{
		height:92.1%;
		overflow-y:auto;
		overflow-x:hidden;
	}
	.menu-text
	{
		display:inline;
		width:auto;
	}
	header .menu-item
	{
		width:auto;
	}
	header .icon
	{
		width:48px;
		padding:0px;
	}
	.menu-item > a,
	.menu-item > a:visited
	{
		padding-right:18px;
	}
	.user-panel
	{
		width:320px;
	}
	.user-panel > .user-logout a,
	.user-panel > .user-logout a:visited
	{
		padding-right:16px;
	}
}/* 6 Columns */
@media only screen and (min-width : 1920px) {
	.dash-section
	{
		width:25%;
		height:100%;
	}
	.dashboard-users
	{
		height:96.5%;
		overflow-y:auto;
		overflow-x:hidden;
	}
	.menu-text
	{
		display:inline;
		width:auto;
	}
	header .menu-item
	{
		width:auto;
	}
	header .icon
	{
		width:48px;
		padding:0px;
	}
	.menu-item > a,
	.menu-item > a:visited
	{
		padding-right:16px;
	}
	.user-panel
	{
		width:320px;
	}
	.user-panel > .user-logout a,
	.user-panel > .user-logout a:visited
	{
		padding-right:16px;
	}
	main
	{
		overflow-x:hidden;
		overflow-y:hidden;
	}
}